body { background: #40a1f0; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 52px; display: flex; }
.block-helper-0 { color: #f48e02; font-size: 20px; margin-bottom: 5px; }
.block-validator-1 { color: #dffbe4; font-size: 17px; margin-bottom: 5px; }
.block-router-2 { color: #b5ec06; font-size: 13px; margin-bottom: 5px; }
.block-cart-3 { color: #9858ee; font-size: 21px; margin-bottom: 5px; }
.block-shipping-4 { color: #5e97c5; font-size: 19px; margin-bottom: 5px; }
.block-user-5 { color: #96b401; font-size: 21px; margin-bottom: 5px; }
.block-database-6 { color: #fcc9ab; font-size: 21px; margin-bottom: 5px; }